<h1>Burgers!</h1>

<h2>Burgers That Are Not Devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers That Have Been Devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
     <div>{{burger_name}}</div>
    {{/if}}
  {{/each}}
</ul>

<h2> - Add a Burger - </h2>

<form class="create-form" action="/burgers/create" method="POST">
  <div class="form-group">
      <label for="name"></label>
      <textarea id="name" name="burger-name" rows="2" cols="40" placeholder="Is there a burger you'd like to add?"></textarea>
  </div>
  <button type="submit">Add Burger</button>
</form>  

